<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StockControl - Agregar Producto</title>
</head>
<body>
    <h1>Agregar Producto</h1>
    
    <form method="post">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br>
        <label for="precio">Precio:</label><br>
        <input type="number" id="precio" name="precio" step="0.01"><br>
        <label for="stock">Stock:</label><br>
        <input type="number" id="stock" name="stock"><br>
        <label for="proveedor">Proveedor:</label><br>
        {% csrf_token %}
        <select id="proveedor" name="proveedor">
            {% for proveedor in proveedores %}
                <option value= 'proveedor.nombre' ></option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Agregar">
    </form>
</body>
</html>