<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockControl</title>
</head>
<body>
<h1>Bienvenido a StockControl</h1>
<ul>
  <li><a href="{% C:\Users\celes\Desktop\Proyectos-Django\StockControl\compra\templates\agregar_producto.html %}">Agregar Producto</a></li>
  <li><a href="{% C:\Users\celes\Desktop\Proyectos-Django\StockControl\compra\templates\agregar_proveedor.html %}">Agregar Proveedor</a></li>
  <li><a href="{% C:\Users\celes\Desktop\Proyectos-Django\StockControl\compra\templates\listar_productos.html %}">Listar Productos</a></li>
  <li><a href="{% C:\Users\celes\Desktop\Proyectos-Django\StockControl\compra\templates\listar_proveedores.html %}">Listar Proveedores</a></li>
</ul>
</body>
</html>