<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StockControl - Listar Proveedores</title>
</head>
<body>
    <h1>Listar Proveedores</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.apellido }}</td>
                <td>{{ proveedor.dni }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
